{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="../media/abstract-art.jpg" class="d-block w-100" alt="abstract-art">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../media/nft.jpg" class="d-block w-100" alt="NFT-art">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../media/Lofi-livingroom.jpg" class="d-block w-100" alt="Lofi-art">
          </div>
        </div>
      </div>
      <script>
        const myCarouselElement = document.querySelector('#carouselExampleDark')
        const carousel = new bootstrap.Carousel(myCarouselElement, {
        interval: 4000,
        wrap: true
        })
      </script>
       <h1 class="text-center my-5">About This Site</h1>
       <hr class="w-50 mb-1">
       <div class="text-center container my-5">
        <p>This is a graphic store for a digital artist where you can buy different types of art work that you like on the site. All the art work note that this is a test store project so its not actually real art work you can buy since it is a project I made for a course I was on.</p>
       </div>
       <hr class="w-50 mb-1">
       <div class="card-deck my-5 mx-5">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Abstract Art</h5>
            </div>
            <p class="card-text bg-secondary text-white px-5 py-5">The Abstract Art that you see on the site is for anyone who is into nice looking pictures with a seenery to look at or to have as their wall paper etc.</p>
            <div class="text-center">
              <a href="{% url 'products' %}" class="card-link">Abstract Art</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">NFT Art</h5>
            </div>
            <p class="card-text bg-secondary text-white px-5 py-5">The NFT Art was taken from a site called <a href="https://www.freepik.com/" target="_blank">Free Pik</a>I Decieded to put NFT art into this project because I thought it might be interesting for those people out there who are into the mew version of the web called web3.</p>
            <div class="text-center">
              <a href="{% url 'products' %}" class="card-link">NFT Art</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Lofi Art</h5>
            </div>
            <p class="card-text bg-secondary text-white px-5 py-5">The Lo-Fi Art work that you see was always a huge interest of mine for when I get back into art again once I have more time on my hands I plan to turn this site into an actual store and sell my art work for people to enjoy.</p>
            <div class="text-center">
              <a href="{% url 'products' %}" class="card-link">Lofi Art</a>
            </div>
          </div>
        </div>
      </div>   
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}
