{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div> -->
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="../media/abstract-art.jpg" class="d-block w-100" alt="abstract-art">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../media/nft.jpg" class="d-block w-100" alt="NFT-art">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../media/Lofi-livingroom.jpg" class="d-block w-100" alt="Lofi-art">
          </div>
        </div>
      </div>
      <script>
        const myCarouselElement = document.querySelector('#carouselExampleDark')
        const carousel = new bootstrap.Carousel(myCarouselElement, {
        interval: 4000,
        wrap: true
        })
      </script>
       <h1 class="text-center my-5">Art Examples</h1>
       <hr class="w-50 mb-1">
      <div class="card-deck my-5 mx-5">
        <div class="card">
          <div class="text-center">
            <h5 class="card-title my-4 mx-4">Abstract Art</h5>
          </div>
          <img src="../media/abstract-art.jpg" class="card-img-top" alt="abstract-art">
          <div class="card-body">
            <p class="card-text">This is an example of some of the abstract art I can make for you for your wallpaper. </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <div class="text-center">
            <h5 class="card-title my-4 mx-4">NFT Art</h5>
          </div>
          <img src="../media/nft.jpg" class="card-img-top" alt="NFT-art">
          <div class="card-body">
            <p class="card-text">This is an example of some NFT work that I will be able to make for you and your collection or project. You will get a number of examples in your package to choose from</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <div class="text-center">
            <h5 class="card-title my-4 mx-4">Lofi Art</h5>
          </div>
          <img src="../media/Lofi-livingroom.jpg" class="card-img-top" alt="Lofi-art">
          <div class="card-body">
            <p class="card-text">This is an example of some lofi Art I can make for you for your desktop background or twitch stream or computer set up that is custom animated version of your room or for your desktop or banners for any of your social media platforms.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}
