{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="../media/abstract-art.jpg" class="d-block w-100" alt="abstract-art">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../media/nft.jpg" class="d-block w-100" alt="NFT-art">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../media/Lofi-livingroom.jpg" class="d-block w-100" alt="Lofi-art">
          </div>
        </div>
      </div>
      <script>
        const myCarouselElement = document.querySelector('#carouselExampleDark')
        const carousel = new bootstrap.Carousel(myCarouselElement, {
        interval: 4000,
        wrap: true
        })
      </script>
       <h1 class="text-center my-5">Plans Page</h1>
       <div class="text-center container my-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis labore debitis vel consequatur obcaecati porro. Soluta et, recusandae voluptate molestiae vero nostrum? Quis ex ducimus iure, corporis mollitia explicabo laborum sunt tempore! Placeat fugiat ea quod sed itaque, recusandae temporibus nisi corrupti quae accusantium asperiores fugit vero necessitatibus omnis?</p>
       </div>
       <hr class="w-50 mb-1">
       <!-- Add a base price to the type of drawing added to the cart -->
       <div class="card-deck my-5 mx-5">
        <div class="card">
          <div class="card-body">
            <a href="#" class="card-link text-black">
              <div class="text-center">
                <h5 class="card-title">Abstract Art</h5>
              </div>
              <ol class="bg-secondary text-white px-5 py-5 text-center">
                <p>Item one</p>
                <p>Item two</p>
                <p>Item three</p>
                <p>Item four</p>
              </ol>
            </div>
            <p class="text-center">Desktop Backgrounds</p>
          </a>
        </div>
        <div class="card">
          <a href="#" class="card-link text-black">
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">NFT Art</h5>
              </div>
              <ol class="bg-secondary text-white px-5 py-5 text-center">
                <p>Item one</p>
                <p>Item two</p>
                <p>Item three</p>
                <p>Item four</p>
              </ol>
            </div>
            <p class="text-center">NFT Collections</p>
          </a>
        </div>
        <div class="card">
          <a href="#" class="card-link text-black">
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">Lofi Art</h5>
              </div>
              <ol class="bg-secondary text-white px-5 py-5 text-center">
                <p>Item one</p>
                <p>Item two</p>
                <p>Item three</p>
                <p>Item four</p>
              </ol>
            </div>
            <p class="text-center">Lo fi pictures</p>
          </a>
        </div>
      </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}
