{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="../media/abstract-art.jpg" class="d-block w-100" alt="abstract-art">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../media/nft.jpg" class="d-block w-100" alt="NFT-art">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../media/Lofi-livingroom.jpg" class="d-block w-100" alt="Lofi-art">
          </div>
        </div>
      </div>
      <script>
        const myCarouselElement = document.querySelector('#carouselExampleDark')
        const carousel = new bootstrap.Carousel(myCarouselElement, {
        interval: 4000,
        wrap: true
        })
      </script>
       <h1 class="text-center my-5">Plans Page</h1>
       <div class="text-center container my-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis labore debitis vel consequatur obcaecati porro. Soluta et, recusandae voluptate molestiae vero nostrum? Quis ex ducimus iure, corporis mollitia explicabo laborum sunt tempore! Placeat fugiat ea quod sed itaque, recusandae temporibus nisi corrupti quae accusantium asperiores fugit vero necessitatibus omnis?</p>
       </div>
       <hr class="w-50 mb-1">
       <!-- Add a base price to the type of drawing added to the cart -->
       <div class="card-deck my-5 mx-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <a href="#" class="card-link">
            <div class="text-center">
              <h5 class="card-title text-black">Plan 3: Abstract Art</h5>
            </div>
            <p class="text-black text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil sapiente qui rerum alias cum vero libero possimus deserunt. Laudantium, voluptatibus provident! Error consectetur amet a veritatis ipsa aspernatur ea ab aliquam sint ratione delectus quibusdam veniam, assumenda perferendis nemo corporis harum tempore, dolore eaque molestias labore. Ducimus ipsa adipisci minus?</p>
            </a>
            <ol class="bg-secondary text-white px-5 py-5 text-center">
              <p>Item one</p>
              <p>Item two</p>
              <p>Item three</p>
              <p>Item four</p>
            </ol>
          </div>
          <h6 class="card-subtitle mb-2 text-muted text-center">Abstract Plan information</h6>
      </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <a href="#" class="card-link">
              <div class="text-center">
                <h5 class="card-title text-black">Plan 3: NFT Art</h5>
              </div>
              <p class="text-black text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil sapiente qui rerum alias cum vero libero possimus deserunt. Laudantium, voluptatibus provident! Error consectetur amet a veritatis ipsa aspernatur ea ab aliquam sint ratione delectus quibusdam veniam, assumenda perferendis nemo corporis harum tempore, dolore eaque molestias labore. Ducimus ipsa adipisci minus?</p>
              </a>
              <ol class="bg-secondary text-white px-5 py-5 text-center">
                <p>Item one</p>
                <p>Item two</p>
                <p>Item three</p>
                <p>Item four</p>
              </ol>
            </div>
            <h6 class="card-subtitle mb-2 text-muted text-center">NFT Plan information</h6>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <a href="#" class="card-link">
              <div class="text-center">
                <h5 class="card-title text-black">Plan 3: Lo-fi Art</h5>
              </div>
              <p class="text-black text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil sapiente qui rerum alias cum vero libero possimus deserunt. Laudantium, voluptatibus provident! Error consectetur amet a veritatis ipsa aspernatur ea ab aliquam sint ratione delectus quibusdam veniam, assumenda perferendis nemo corporis harum tempore, dolore eaque molestias labore. Ducimus ipsa adipisci minus?</p>
              </a>
              <ol class="bg-secondary text-white px-5 py-5 text-center">
                <p>Item one</p>
                <p>Item two</p>
                <p>Item three</p>
                <p>Item four</p>
              </ol>
            </div>
            <h6 class="card-subtitle mb-2 text-muted text-center">Lo-fi Plan information</h6>
        </div>
      </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}
